@import '../../style/main.scss';
.navigationBox {
    background: white;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include flex_row($justify: center, $align: center);
    padding: 7px;
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 30px;
    width: 200px;

    &:hover {
        background: #e9efff;
    }

    &__description {
        margin-left: 10px;
        &_mainText {
            font-weight: bold;
            color: #006494;
            font-size: 15pt;
        }
        &_detailedText {
            font-weight: 100;
            opacity: 0.5;
            font-size: 12pt;
        }
    }
}
