.burgerDropdown {
	position: absolute;
	background: white;
	color: black;
	max-height: min(100%);
	z-index: 1;
	top: 1%;
	right: 1%;
	border-radius: 10px;
	overflow: auto;
	&__closeIcon {
		right: 0;
		position: absolute;
		width: 10%;
		padding: 10px;
		border-bottom-left-radius: 10px;
		&:hover {
			background: rgba(0 0 0 / 20%);
		}
	}
}

.burgerDropdownWrapper {
	background-color: rgba(1, 1, 1, 0.3);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
